<nav class="w3-sidenav w3-dark-grey w3-animate-left" style="display:none">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-closenav w3-large">Close <i class="fa fa-close"></i></a> {{#link-to "overview.domestic"}}<span onclick="document.getElementById('modal01').style.display='block'; w3_close();">Payment order</span>{{/link-to}}
  {{#link-to "overview"}}Overview{{/link-to}}
  <a href="#">About</a>
</nav>


<div class="w3-main">

  <span class="w3-opennav w3-xlarge" onclick="w3_open()"><i class="fa fa-bars"></i></span>

  <h3><div class="w3-container w3-animate-left w3-pale-blue w3-leftbar w3-border-blue">Welcome <strong>{{model.firstname}} {{model.lastname}}</strong> in Gustav0</div></h3> {{#link-to "overview" current-when="overview"}} {{/link-to}} {{outlet}}
</div>
<div class="w3-container w3-pale-blue w3-leftbar w3-border-blue">
  <p>Developed in 2016</p>
</div>